parameters:
    level: 6
    cacheDir: C:\Users\bulam\AppData\Local\Temp\phpstan
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/Functional
        - tests/Unit
    excludePaths:
        analyse:
            - tests/Support